<h1 class="page-title">
   New Guest
</h1>
<hr>
<div class="row grid-margin">
    <div class="col-lg-12">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['/guests']">
                <i class="fa fa-chevron-circle-left"></i> Go Back
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Fill the following fields</h2>
              
                
                <form class="forms-sample">
                    <div class="form-group text-center">
                       
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="first_name">First name *</label>
                            <input  class="form-control" id="first_name" placeholder="First name" autocomplete="off">
                            
                        </div>
                        <div class="form-group col">
                            <label for="last_name">Last name *</label>
                            <input class="form-control" id="last_name" placeholder="Last name" autocomplete="off">
                           
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="phone">Phone</label>
                            <input  class="form-control" id="phone"  placeholder="Phone number" autocomplete="off">
                            
                        </div>
                        <div class="form-group col">
                            <label for="mobile">Mobile</label>
                            <input class="form-control" id="mobile" placeholder="Mobile number" autocomplete="off">
                            
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="city">City *</label>
                            <input  class="form-control" id="city" placeholder="City" autocomplete="off">
                            
                        </div>
                        <div class="form-group col">
                            <label for="country">Country *</label>
                            <input class="form-control" id="country"  placeholder="Country" autocomplete="off">
                            
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="age">Age</label>
                            <input type="number" step="1" min="0" class="form-control" id="age" aria-describedby="age_help" placeholder="Age" autocomplete="off">
                            
                        </div>
                        <div class="form-group col">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" >
                                <option>Male</option>
                                <option >Female</option>
                            </select>
                           
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" placeholder="Email" autocomplete="off">
                           
                        </div>
                        <div class="form-group col">
                            <label for="organization">Organization</label>
                            <input  class="form-control" id="organization"  placeholder="Last name" autocomplete="off">
                           
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a [routerLink]="['/guests']" class="btn btn-light">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<h1 class="page-title">Guest List</h1>
<hr>
<div class="row grid-margin">
    <div class="col">
        <form>
            <input #search (keyup)="0" class="form-control" type="text" placeholder="Search">
        </form>
    </div>
    <div class="col">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" >
                <i class="fa fa-plus-circle"></i> New Guest
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Guests</h2>
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr class="">
                            
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>County</th>
                            <th>Organization</th>
                            <th width="1%">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="5" class="text-center">
                                
                            </th>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>

